<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>LOG IN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input placeholder="Email" [(ngModel)]="username"></ion-input>
      <ion-input type = "Password" [(ngModel)]="password" placeholder="Password"></ion-input>
      <ion-input type = "Password" [(ngModel)]="cpassword" placeholder="Confirm Password"></ion-input>
      <ion-button expand="block" (click)="signup()">Sign Up</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
